repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.0.0
    hooks:
      - id: mypy
        verbose: true
        entry: mypy
        args:
          [
            --no-strict-optional,
            --show-traceback,
            --ignore-missing-imports,
            --follow-imports=silent,
            --show-error-codes,
          ]
        language: python
        language_version: python3.11
        additional_dependencies:
          - numpy<2
        files: ^(pyhms/|test/)
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort
        language: python
        types: [python]
        args:
          [
            "--profile=black",
            "--line-length=120",
            "--multi-line=3",
            "--force-grid-wrap=0",
            "--trailing-comma",
            "--use-parentheses",
            "--ensure-newline-before-comments",
          ]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language: python
        types: [python]
        args: ["--line-length=120"]
  - repo: https://github.com/srstevenson/nb-clean
    rev: "2.4.0"
    hooks:
      - id: nb-clean
